.search-bar {
  display: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.search-bar input {
  width: 300px;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.search-bar button {
  margin-left: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: #facc15;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #eab308;
}

.search-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}